{{partial "minimal-header"}}
<div class="container">

    <div class="container" id="main">
        <div class="row">
            <div class="row main-content">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
