
<div class="advisor-dashboard-bg">
    <button class="btn btn-success"  {{action 'notify'}}>Notify Test</button>
    <button class="btn btn-success"  {{action 'sendAnswer' testAnswers.answer1}}>Send Answer1</button>
    <button class="btn btn-success"  {{action 'sendAnswer' testAnswers.answer2}}>Send Answer2</button>
</div>

