.main-content {
  /*margin-top: 10%;*/
}

.ask-keen-content {
  margin-top: 10%;
}


.min-header-nav-bar {
  height: 66px;

  .logo {
    padding-top: 15px;
  }
}

.min-header-sub-nav-bar-main {
  background-color: #88b535;
  height: 5px;
}

.min-header-sub-nav-bar-secondary {
  background-color: #cce49c;
  height: 3px;
}

/* Advisor message styles */
.advisor-image {
  width: 75px;
  height: 75px;
}

.price-per-minute{
  font-weight: normal;
  font-family: monospace;
}

.user-message {

}

/*dash-board styles*/
.advisor-dashboard-bg {
  background-image: url('/images/advisor-dashboard.png');
  width: 1200px;
  height: 900px;
  background-repeat: no-repeat;
}


/*Quick fix for the background of notification boxes. Somehow the styles of ember-notify is not getting included. Doing this for time saving */
.alert-box.success {
  background-color: #43AC6A;
  border-color: #3a945b;
  color: #FFF;
}

.alert-box.success input, button, textarea {
  color: #000;
}

