$green: #18BC9C;

.main-content {
  /*margin-top: 10%;*/
}

.ask-keen-content {
  margin-top: 10%;
}

.min-header-nav-bar {
  height: 66px;

  .logo {
    padding-top: 15px;
  }
}

.min-header-sub-nav-bar-main {
  background-color: #88b535;
  height: 5px;
}

.min-header-sub-nav-bar-secondary {
  background-color: #cce49c;
  height: 3px;
}

/* Advisor message styles */
.advisor-image {
  width: 75px;
  height: 75px;
}

.price-per-minute{
  font-weight: normal;
  font-family: monospace;
}

.user-message {

}

/*dash-board styles*/
.advisor-dashboard-bg {
  background-image: url('/images/advisor-dashboard.png');
  width: 1200px;
  height: 900px;
  background-repeat: no-repeat;
}

/*Quick fix for the background of notification boxes. Somehow the styles of ember-notify is not getting included. Doing this for time saving */
.alert-box.success {
  background-color: $green;
  border-color: #3a945b;
  color: #FFF;
}

.alert-box.success input, button, textarea {
  color: #000;
}

.position-center {
  position: fixed;;
  top: 30%;
  left: 40%;
  right: 0;
  bottom: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 5;
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
//  display: none;
}

.panel-info{
  border-color: $green;
}

.panel-info > .panel-heading {
  background-color:  $green;
  border-color: $green;
}
