.main-content {
  margin-top: 10%;
}

.min-header-nav-bar {
  height: 66px;

  .logo {
    padding-top: 15px;
  }
}

.min-header-sub-nav-bar-main {
  background-color: #88b535;
  height: 5px;
}

.min-header-sub-nav-bar-secondary {
  background-color: #cce49c;
  height: 3px;
}

/* Advisor message styles */
.advisor-image {
  width: 75px;
  height: 75px;
}

.user-message {

}

/*dash-board styles*/
.advisor-dashboard-bg {
  background-image: url('/images/advisor-dashboard.png');
  width: 1200px;
  height: 900px;
  background-repeat: no-repeat;
}

