{{partial "minimal-header"}}
<div class="container">
    <div class="container" id="main">
        <div class="row">
            <div class="row main-content">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type in your question...">
                        <span class="input-group-btn">
                          <button class="btn btn-success" type="button">Ask a <i>bunch</i> of Advisors</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
              {{outlet}}
            </div>
        </div>
    </div>
</div>
