<div class="col-sm-12">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Type in your question...">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button">Ask a <i>bunch</i> of Advisors</button>
        </span>
    </div>
    <br/>
    <br/>
    <br/>
    <h3>Responses for our advisors...</h3>
    <br/>
    <ul class="media-list advisor-message-list">
        <li class="advisor-message media">
            <span class="pull-left">
                <img src="http://i.keen.com/ad-products.cdn.member75x75/22472422-1240184748.jpg" class="img-circle media-object advisor-image" alt="Sample Image">
            </span>
            <div class="media-body">
                <h4 class="media-heading">Love Expert Sara <small><i>Posted on March 10, 2015 (5 seconds back)</i></small></h4>
                <span class="user-message">
                  <p>
                      Excellent feature! I love it. We are defintiely going to rock it on this friday!.
                      Excellent feature! I love it. We are defintiely going to rock it on this friday!Excellent feature! I love it. We are defintiely going to rock it on this friday!
                      <button class="btn btn-xs" type="button">Continue with free chat</button>
                  </p>
                </span>

            </div>
        </li>
        <li class="advisor-message media">
            <span class="pull-left">
                <img src="http://i.keen.com/ad-products.cdn.memberphotos/14123273-2128725806.jpg" class="img-circle media-object advisor-image" alt="Sample Image">
            </span>
            <div class="media-body">
                <h4 class="media-heading">Psychic Answers By Candy<small><i>Posted on March 10, 2015 (2 seconds back)</i></small></h4>
                <span class="user-message">
                  <p>
                      Excellent feature! I love it. We are defintiely going to rock it on this friday!.
                      Excellent feature! I love it. We are defintiely going to rock it on this friday!Excellent feature! I love it. We are defintiely going to rock it on this friday!
                  </p>
                </span>
            </div>
        </li>
    </ul>
</div>
<!-- probably some text like ask our advisors? -->

<!-- HTML content for emailid-->
<!-- HTML content for advisor messages to show up-->
