<div class="col-sm-12">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Type in your question...">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button">Ask a <i>bunch</i> of Advisors</button>
        </span>
    </div>
</div>
<!-- probably some text like ask our advisors? -->

<!-- HTML content for emailid-->
<!-- HTML content for advisor messages to show up-->
