<div>
	<div class="container min-header-nav-bar">
		<div class="logo"><a href="http://www.keen.com/" target="_parent"><img src="http://i.keen.com/D1_k3keenlogo_V1.png" alt="KEEN - Your Personal Advisor" title="KEEN - Your Personal Advisor" border="0" /></a></div>
	</div>
	<div class="min-header-sub-nav-bar-main"></div>
	<div class="min-header-sub-nav-bar-secondary"></div>
</div>
